body {
  .weak {
    filter: invert(80%);
  }
}

// 布局
.layout {
  // 侧边栏弹出层
  .drawer-sider {
    &.dark {
      background: #001529;
    }
    .el-drawer__body {
      padding: 0;
    }
  }

  // 侧边栏
  .side {
    &.light {
      .logo {
        position: relative;
        z-index: 10;
        box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
        h1 {
          color: #303133;
        }
      }
    }

    &.dark {
      background: #001529;
      box-shadow: 2px 0 6px rgb(0 21 41 / 35%);
      .el-menu {
        background: #001529;
        .el-menu-item,
        .el-sub-menu__title {
          color: #ffffffa6;
        }

        .is-active .el-sub-menu__title,
        .el-sub-menu__title:hover,
        .el-menu-item:not(.is-disabled):focus,
        .el-menu-item:not(.is-disabled):hover {
          background-color: transparent;
          color: #fff;
        }

        .el-menu-item:not(.is-disabled).is-active {
          background-color: var(--el-color-primary);
          color: #fff;
        }

        .el-menu--inline {
          background: #000c17;
        }
      }
    }

    &.side-collapse {
      .logo h1 {
        color: transparent;
      }
    }
  }

  .sidemenu,
  .bothmenu {
    &.el-container {
      &.sidemenu-opened {
        padding-left: 256px;
      }
      &.sidemenu-closed {
        padding-left: 80px;
      }
    }

    .fixed-header {
      &.sidemenu-opened {
        width: calc(100% - 256px);
      }
      &.sidemenu-closed {
        width: calc(100% - 80px);
      }
    }
  }

  .topmenu {
    &.container-Fixed {
      .header-nav-wide,
      .el-scrollbar,
      .el-main,
      .el-footer {
        max-width: 1200px;
        margin: auto;
      }
    }
  }

  .header,
  .header-nav {
    height: var(--el-header-height);

    .collapse {
      height: var(--el-header-height);
    }
  }

  .header {
    .user-wrapper {
      .action {
        color: #303133;

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }

  .header-nav {
    .header-nav-wrapper .logo h1 {
      font-size: 16px;
    }

    &.light {
      .header-nav-wrapper {
        .logo h1 {
          color: #002140;
        }
      }

      .user-wrapper {
        .action {
          color: #303133;

          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }

    &.dark {
      background: #001529;
      color: #fff;

      .collapse:hover {
        background: rgba(255, 255, 255, 0.3);
      }

      .el-menu {
        background: #001529;
        .el-menu-item,
        .el-sub-menu__title {
          border: none;
          color: #ffffffa6;
        }

        .is-active .el-sub-menu__title,
        .el-sub-menu__title:hover,
        .el-menu-item:not(.is-disabled):focus,
        .el-menu-item:not(.is-disabled):hover {
          border: none;
          background-color: transparent;
          color: #fff !important;
        }

        .el-menu-item:not(.is-disabled).is-active {
          background-color: var(--el-color-primary);
          color: #fff !important;
        }
      }
    }
  }

  // .logo {
  //   height: var(--el-header-height);
  // }

  .el-menu {
    height: var(--el-header-height);
  }

  // 标签栏
  .tags-container {
    .el-scrollbar__bar {
      bottom: 0;
    }
  }
}

// 设置面板
.setting-drawer {
  .el-drawer__body {
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

// 滚动条设置
.scroll-bar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

// 进度条颜色
#nprogress .bar {
  background-color: var(--el-color-primary) !important;
}

// 个人中心
.account-center-main {
  .account-center-right {
    .el-tabs__item {
      height: 56px;
      color: rgba(0, 0, 0, 0.65);
      &:hover {
        color: var(--el-color-primary);
      }
      &.is-active {
        color: var(--el-color-primary);
      }
    }
    .el-tabs__nav-wrap {
      padding: 0 24px;
    }
    .el-tabs__nav-next,
    .el-tabs__nav-prev {
      line-height: 56px;
    }
  }
}
// // 数据列表 样式
// .table-alert {
//   margin-bottom: 16px;
// }

// .table-page-search-wrapper {
//   .ant-form-inline {
//     .ant-form-item {
//       display: flex;
//       margin-bottom: 24px;
//       margin-right: 0;

//       .ant-form-item-control-wrapper {
//         flex: 1 1;
//         display: inline-block;
//         vertical-align: middle;
//       }

//       > .ant-form-item-label {
//         line-height: 32px;
//         padding-right: 8px;
//         width: auto;
//       }
//       .ant-form-item-control {
//         height: 32px;
//         line-height: 32px;
//       }
//     }
//   }

//   .table-page-search-submitButtons {
//     display: block;
//     margin-bottom: 24px;
//     white-space: nowrap;
//   }
// }

// .content {
//   .table-operator {
//     margin-bottom: 18px;

//     button {
//       margin-right: 8px;
//     }
//   }
// }
